body {
	background-color: #1F2039;
}

a {
	color: #242424;
	text-decoration: none;
	font-size: 1em;
	font-family: 'Manrope', sans-serif;
}

.gradient_link a {
	color: white;
	background: linear-gradient(#8E86B5, #ACAEED);
	border-radius: 50px;
}

em {
	color: #A5B4FC;
	font-style: normal;
}

h1 {
	font-size: 3.5em;
	color: #A5B4FC;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #F9F8FF;
	font-family: 'Manrope', sans-serif;
}

p {
	font-size: 1.1em;
	font-family: 'Manrope', sans-serif;
	color: #F9F8FF;
}

ul {
	font-size: 1em;
	font-family: 'Manrope', sans-serif;
	color: #F9F8FF;
}

.a_propos {
	border-right: 1px solid #8e86b5;
	border-bottom: 1px solid #8e86b5;
}

.header, .footer {
	background-color: white;
}

/*-----DYNAMIC STYLES-----*/

a:hover {
	text-decoration: underline;
}

.gradient_link a:hover {
	background: linear-gradient(#696484, #8788BA);
	text-decoration: none;
}

.header img:hover, .footer img:hover {
	opacity: 0.5;
}
