.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 45px;
}

form {
    width: 1000px;
    margin: auto;
    color: white;
    font-size: 1.1em;
}

fieldset {
    border: none;
}

.fieldset-coordonnees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fieldset-message {
    margin-bottom: 25px;
}

input, textarea {
    padding: 13px;
    border-radius: 5px;
}

input {
    width: 445px;
}

textarea {
    resize: none;
}

label, input, textarea {
    display: block;
}

label {
    margin-bottom: 10px;
}

.div-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    width: 200px;
}
